In [90]:
import os
import pandas as pd
from tabulate import tabulate
input_data = pd.read_excel(os.path.join("data","stats.xlsx"), header=1)

In [92]:
input_data.columns = ['RANK', 'NAME', 'TEAM', 'POS', 'AGE', 'GP', 'MPG',
       'MIN%','USG%', 'TO%', 'FTA', 'FT%', '2PA', '2P%', '3PA', '3P%',
       'eFG%', 'TS%', 'PPG', 'RPG','TRB%','APG','AST','SPG', 'BPG','TOPG',
       'VI', 'ORTG', 'DRTG']
input_data.drop(labels='RANK',axis=1, inplace=True)

In [95]:
input_data.head()

,NAME,TEAM,POS,AGE,GP,MPG,MIN%,USG%,TO%,FTA,...,RPG,TRB%,APG,AST,SPG,BPG,TOPG,VI,ORTG,DRTG
0,Precious Achiuwa,Tor,F,22.53,67,23.7,49.3,18.3,11.1,115,...,6.8,15.5,1.1,7.0,0.51,0.57,1.12,6.9,105.6,103.5
1,Steven Adams,Mem,C,28.70,73,26.4,54.9,12.1,19.1,193,...,10.0,19.7,3.3,15.6,0.88,0.79,1.49,9.3,125.2,103.8
2,Bam Adebayo,Mia,C-F,24.70,52,32.7,68.1,25.1,14.6,310,...,10.3,17.7,3.4,17.8,1.48,0.83,2.69,10.7,116.3,97.4
3,Santi Aldama,Mem,F-C,21.22,29,10.3,21.4,16.6,9.1,20,...,2.3,11.7,0.5,6.5,0.07,0.31,0.38,6.0,96.6,104.6
4,LaMarcus Aldridge,Bro,C-F,36.70,45,22.8,47.6,22.7,7.8,102,...,5.6,13.4,0.9,6.4,0.31,1.02,0.93,7.2,120.2,109.0

In [96]:
input_data.to_csv(os.path.join("data", "stats.csv"))

In [124]:
p = 30
r = 10
a = 10
def f(df,_p=10,_r=10,_a=10):
    return df['PPG'].subtract(_p).pow(2) + df['RPG'].subtract(_r).pow(2) + df['APG'].subtract(_a).pow(2)

In [128]:
p = 27
r = 7
a = 7
result = input_data.loc[f(input_data,p,r,a).sort_values().head(5).index]
print(tabulate(result[['NAME','TEAM','GP','PPG','RPG','APG']], headers='keys'))

     NAME           TEAM      GP    PPG    RPG    APG
---  -------------  ------  ----  -----  -----  -----
452  Ja Morant      Mem       56   27.6    5.7    6.7
141  Stephen Curry  Gol       64   25.5    5.2    6.3
421  CJ McCollum    Nor       20   25.9    4.8    6.4
217  Paul George    Lac       28   24.9    6.8    5.5
174  Kevin Durant   Bro       50   29.6    7.3    6.2

In [130]:
input_data.shape

(703, 28)

In [129]:
tabulate(result[['NAME','TEAM','GP','PPG','RPG','APG']], headers='keys')

'     NAME           TEAM      GP    PPG    RPG    APG\n---  -------------  ------  ----  -----  -----  -----\n452  Ja Morant      Mem       56   27.6    5.7    6.7\n141  Stephen Curry  Gol       64   25.5    5.2    6.3\n421  CJ McCollum    Nor       20   25.9    4.8    6.4\n217  Paul George    Lac       28   24.9    6.8    5.5\n174  Kevin Durant   Bro       50   29.6    7.3    6.2'

In [137]:
pd.read_csv("data/stats.csv",index_col=0)

,NAME,TEAM,POS,AGE,GP,MPG,MIN%,USG%,TO%,FTA,...,RPG,TRB%,APG,AST,SPG,BPG,TOPG,VI,ORTG,DRTG
0,Precious Achiuwa,Tor,F,22.53,67,23.7,49.3,18.3,11.1,115,...,6.8,15.5,1.1,7.0,0.51,0.57,1.12,6.9,105.6,103.5
1,Steven Adams,Mem,C,28.70,73,26.4,54.9,12.1,19.1,193,...,10.0,19.7,3.3,15.6,0.88,0.79,1.49,9.3,125.2,103.8
2,Bam Adebayo,Mia,C-F,24.70,52,32.7,68.1,25.1,14.6,310,...,10.3,17.7,3.4,17.8,1.48,0.83,2.69,10.7,116.3,97.4
3,Santi Aldama,Mem,F-C,21.22,29,10.3,21.4,16.6,9.1,20,...,2.3,11.7,0.5,6.5,0.07,0.31,0.38,6.0,96.6,104.6
4,LaMarcus Aldridge,Bro,C-F,36.70,45,22.8,47.6,22.7,7.8,102,...,5.6,13.4,0.9,6.4,0.31,1.02,0.93,7.2,120.2,109.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,Jeff Dowtin,Orl,G,24.89,4,19.3,40.3,13.4,16.8,2,...,2.8,7.5,1.8,12.4,1.25,0.00,1.00,5.3,85.1,112.6
699,Larry Nance Jr.,Nor,F-C,29.25,3,19.5,40.6,12.4,5.9,2,...,5.0,14.1,0.3,2.5,0.00,1.67,0.33,4.5,132.3,108.5
700,Braxton Key,Det,F,25.13,4,18.0,37.4,19.6,12.2,2,...,4.3,12.8,0.3,2.1,0.75,1.50,1.00,4.4,83.0,100.6
701,Greg Monroe,Uta,F-C,31.83,2,10.8,22.4,12.4,0.0,7,...,3.0,15.3,1.5,18.6,0.00,0.50,0.00,9.7,169.0,91.9
702,Didi Louzada,Por,G,20.00,1,11.5,24.0,22.5,0.0,0,...,2.0,9.5,0.0,0.0,0.00,1.00,0.00,0.0,103.7,116.5